/* --- Components design --- */
@import url("normalize.css");
@import url("base_h5bp.css");
@import url("components/entete.css");
@import url("components/menu.css");
@import url("components/cellier.css");
@import url("components/button.css");
@import url("components/pied.css");
@import url("components/carte.css");
@import url("components/typographie.css");
@import url("components/formBouteille.css");
@import url("components/form.css");

body{
	margin:20px;
}


header{
	grid-area: entete;
}

footer{
	grid-area: pied;
}