@import url("normalize.css");
@import url("base_h5bp.css");
@import url("components/menu.css");
@import url("components/celliers.css");
@import url("components/cellier.css");
@import url("components/button.css");
@import url("components/pied.css");
@import url("components/carte.css");
@import url("components/typographie.css");
@import url("components/form.css");
@import url("components/table.css");
@import url("components/formLogin.css");

*{
    box-sizing: border-box;    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
	color: #2d2c2c;
    width: 100%;
    margin: 0;
}

main{
    flex-grow: 1;
    width: 100%;
}

.ml {
    margin-left: 10px;
}

@media screen and (min-width: 600px) {
    body {
        background-image: url("../images/barril.jpg");
    }

    main {
        margin: auto;
        margin-top: 50px; 
    }

    .conteneur {
        background-color: rgba(255,255,255,0.7);
        border-radius: 10px;
        min-height: 600px;
        padding-top: 10px;
    }

}
