button, input[type=submit]{
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    background: #97174C;
    transition: background 0.3s ease;
    min-width: 50px;
    text-align: center;
}

button:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
}

button a{
    text-decoration: none;
    background-color: #97174C;
    color:white;
}

.boutonSolo {
    margin-left: 10px;
    margin-right: 10px;
}

 .recherche select, .recherche button{
    width: 60vw;
    align-self: center;
 }



@media only screen and (max-width: 599px){
    .boutonSolo button{
        width: 100%;
    }

    .recherche{
        text-align: center;
    }
    .recherche button, .recherche select{
        width: 90vw;
        align-self: center;
    }
}