button, input[type=submit]{
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    background: #97174C;
    transition: background 0.3s ease;
    min-width: 50px;
    text-align: center;
}

button:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
}

button a{
    text-decoration: none;
    background: #701139;
    color:white;
}

.boutonSolo {
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 599px){
    .boutonSolo button, #recherche_bouteille_cellier input[text]{
        width: 100%;
    }
}


