.carte{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:    "carteTitre carteTitre"
                            "carteImage carteInformation"
                            "cartePied cartePied"
                            ;
    grid-gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #701139;
}

.carte:first-of-type {
    border-top: 1px solid #701139;    
}

@media only screen and (min-width: 600px){
    .carte{
        border: 1px solid #701139;
    }

    .carte-titre{
         width: 200px;
        margin-right: 10px;
     }
    .carte-image{
        width:100px;
        margin-right: 10px;
    }
    .carte-information{
        width:200px;
        margin-right: 10px;
    }
    .carte-information_2{
        width:200px;
        margin-right: 10px;
        display: none;
    }
}

@media only screen and (max-width: 599px){
    .carte{
        border: 1px solid #701139;
    }

    .carte-titre{
        max-width: 200px;
        margin-right: 10px;
    }
    .carte-image img{
        width:100px;
        margin-right: 10px;
    }
    .carte-information{
        width:200px;
        margin-right: 10px;
    }
    .carte-information_2{
        display: none;
    }
}

/*Element de la carte*/

.carte-image>img{
    order: 1;
    max-height: 150px;
    grid-area: carteImage;
}

.carte-information{
    order:3;
    grid-area: carteInformation;
    /*display: grid;
    grid-template-columns: auto;
    grid-template-areas:    "quantite"
                            "pays"
                            "type"
                            "millesime"
                            "code_saq";*/
/*    min-width: 300px;*/
}

.carte-information_2{
    order: 4;
    display: none;
}


.carte-texte{
    color: black;
/*    line-height:.40;*/
}


.carte-code_saq{
    grid-area: code_saq;
}


.carte-quantite{
    grid-area: quantite;
}

.carte-format{
    grid-area: format;
}


.carte-pays{
    grid-area: pays;
}

.carte-millesime{
   grid-area: millesime
}

.carte-type{
grid-area: type;
}

.carte-date_achat{
    grid-area: date_achat;
}

.carte-garde_jusqua{
    grid-area: garde_jusqua;
}

.carte-notes{
    grid-area: notes;
}

.carte-titre{
    margin-top: -1.33em;
    margin-bottom: -1.33em;
    grid-area: carteTitre;
    order:2;
}

.carte-pied{
    order: 5;
    grid-area: cartePied;
    clear: both;
    text-align: center;
}
