.listeBouteilleParListe, .listeBouteilleParVignette {
}
    
.carte {
    display: flex;
    background-color: white;
}

.carte-description {
    flex-grow: 1;
    text-align: left;
}

.carte-boutons button {
	color: #7f253c;
    background-color: transparent;
	text-align: center;
	font-size: 1.1em;
    border: none;
}

.carte-boutons button a {
	color: #7f253c;
    background-color: transparent;
    text-decoration: none;
}

/*
    CSS spécifique à la vue par liste
*/

.listeBouteilleParListe {
    display: block;
}

.listeBouteilleParListe .carte {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.listeBouteilleParListe .carte > :not(:last-child) {
    margin-right: 10px;
}

/*
    CSS spécifique à la vue par vignette (qui s'applique aussi au mobile)
*/

.listeBouteilleParVignette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.listeBouteilleParVignette .carte {
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 5px;
}

.listeBouteilleParVignette .carte > :not(:last-child) {
    margin-bottom: 10px;
}

/*
    CSS spécifique au mobile (en plus du CSS de la vue par vignette)
*/

@media only screen and (max-width: 599px) {
    .carte {
        border-bottom: 2px solid #7f253c;        
    }
}