/* Général*/


.carte{
    background-color: white;
}

.carte-notes{
    white-space: nowrap;
    text-overflow: auto;
}
.carte-titre{
    white-space: nowrap;
    text-overflow:ellipsis;
}

/*  .listeBouteilleParListe */
.listeBouteilleParListe{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #97174C;
    margin:10px;
}

.listeBouteilleParListe .carte{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #97174C;
    margin:10px;
}

.listeBouteilleParListe .carte-entete{
    order: 2;
    align-self: center;
    flex:1;
    margin-right: 10px;
}

.listeBouteilleParListe .carte-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    flex:3;
    align-self: center;
}

.listeBouteilleParListe .carte-pied{
    display:flex;
    flex-wrap: wrap;
    order: 5;
    flex:1;
    padding:10px;
}

.listeBouteilleParListe .carte-image{
    order: 1;
    width: 100px ;
    align-self: center;
}

.listeBouteilleParListe .carte-image>img{
    width: 75px ;
}

.listeBouteilleParListe .carte-information{
    order:3;
    align-self: center;

}

.listeBouteilleParListe .carte-information_2{
    display: none;
    order:4;
    align-self: center;
    width: 175px;
}

.listeBouteilleParListe .carte-pied button{
    color: #97174C;
    background-color: white;
    border: 1px #7f0055 solid;
    margin: 5px;
    width: 25%;
    align-self: center;
}

.listeBouteilleParListe .carte-pied button:hover{
    color: white;
    background-color: #97174C;
}


/*  .listeBouteilleParVignmtte */

.listeBouteilleParVignette{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #97174C;
}

.listeBouteilleParVignette .carte{
    width: 599px;
}

.listeBouteilleParVignette .carte-entete{
    font-size: 1.5rem;
    margin:10px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
}

.listeBouteilleParVignette .carte-description{
    display: flex;
    flex-direction: row;
    margin: 5px;
    text-align: left;
}

.listeBouteilleParVignette .carte-pied{
    display:flex;
    flex-direction: row;
    order: 5;
    justify-content: space-around;
    margin: 5px;
    padding: 10px;
    background-color: #97174C;
    color: white;
}

/* Partie Description de la carte*/
.listeBouteilleParVignette .carte-pied button{
    color: white;
    background-color: #97174C;
    align-self: center;
    border: none;
}

.listeBouteilleParVignette .carte-pied button:hover,
.listeBouteilleParVignette .carte-pied button:hover a:link,
.listeBouteilleParVignette .carte-pied button:hover a:visited{
    color: #97174C;
    background-color: white;
    border: none;
}


.listeBouteilleParVignette .carte-titre{
    order: 2;
    align-self: center;
}

.listeBouteilleParVignette .carte-image{
    order: 1;
    width: 100px ;
    align-self: center;
}

.listeBouteilleParVignette .carte-image>img{
    width: 90px ;
}

.listeBouteilleParVignette .carte-information{
    order:3;
    align-self: center;
    flex:auto;
}

.listeBouteilleParVignette .carte-information_2{
    order:4;
    align-self: center;
    flex:auto;
    display: none;
}


/*.carte:first-of-type {
    border-top: 1px solid #97174C;
}*/

/*Element de la carte*/

/* Carfte form liste*/

@media only screen and (max-width: 412px){
    .listeBouteilleParListe .carte-image{
        display:none
    }
}
@media only screen and (min-width: 600px){
    .listeBouteilleParListe{
        justify-content: center;
        margin: 10px;
    }
    .listeBouteilleParListe .carte{
        align-self: center;
        padding: 10px;
    }
    .listeBouteilleParListe .carte-entete{
        width: 150px;
    }

    .listeBouteilleParListe .description{
        justify-content: space-between;
        padding: 10px;
    }

    .listeBouteilleParListe .carte-information_2{
        width: 250px;
        padding: 10px;
        display: block;
    }

    .listeBouteilleParListe .carte-pied{
        width: 250px;
        padding: 10px;
    }
    .listeBouteilleParVignette{
        justify-content: center;
    }
    .listeBouteilleParVignette .carte{
        margin: 10px;
        width: 500px;
        flex-wrap: wrap;
    }
    .listeBouteilleParVignette .carte-information_2{
        order:4;
        align-self: center;
        flex:auto;
        display: block;
    }
}