#recherche_bouteille_cellier, .boutonHaut, .afficheListe {
    margin-top: 10px;
    margin-bottom: 10px;
}

.afficheListe{
    display: none;
}

.listeBouteille{
    display: grid;
}

/* listeBouteille */
.hautDePage{
    display: flex;
}

.recherche{
   display: flex; 
}



@media only screen and (min-width: 600px){
/*    .listeBouteilleParVignette{
        display: grid;
        grid-area: listeBouteille;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        margin: 10px;
    }

    #listeBouteille, .hautDePage, .recherche{
        max-width: 1000px;
        margin: auto;
    }

    .afficheListe{
        display: inline;
    }
*/
    /* Alignement des bouton du haut de la page listeBoiuteile.php */
/*    .hautDePage{
        display: flex;
        justify-content: space-between;
    }
*/
    /*.listeBouteille{
        display: grid;
        grid-area: listeBouteille;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        margin: 10px;
    }*/
}

#formCellier{
    display: none;
}

#modifCellier{
    display: none;
}

#reset{
    display: none;
}

