#recherche_bouteille_cellier, .boutonHaut, #afficheListe{
    margin: 10px 0;
}

#afficheListe{
    display:none;
}

#formCellier{
    display: none;
}

#modifCellier{
    display: none;
}

#reset{
    display: none;
}

@media only screen and (min-width: 600px){
    #recherche_bouteille_cellier{
        width: 30%;
        flex: 1;
    }
    .hautDePage{
        display: flex;
        flex-direction: row;
    }

     .hautDePage .boutonHaut{
        flex: 1;
    } 

    #afficheListe{
        display:block;
        flex:1;
    }

/*  .listeBouteilleParVignette{
        display: grid;
        grid-area: listeBouteille;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        margin: 10px;
    }

    #listeBouteille, .hautDePage, .recherche{
        max-width: 1000px;
        margin: auto;
    }

    .afficheListe{
        display: inline;
    }
*/
    /* Alignement des bouton du haut de la page listeBoiuteile.php */
/*    .hautDePage{
        display: flex;
        justify-content: space-between;
    }

    .listeBouteille{
        display: grid;
        grid-area: listeBouteille;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 10px;
        margin: 10px;
    }
*/
}



