
@media only screen and (min-width: 600px){
    .listeBouteille{
        display: grid;
        grid-area: listeBouteille;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grip-gap: 20px;
        margin: 20px;
    }

    .cellier > *{
        grid-area: cellier;
        padding:30px;
    }
}

#formCellier{
    display: none;
}
