.listeCellier  {
	width: 100%;
	padding: 15px 10px;
	border-bottom: 1px solid #701139;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 150px;
}

.listeCellier > div {

}
.descriptionCellier {
	
}

.nomCellier {
	text-decoration: none;
	color: #272727;
}

.cellier:visited {
	color: #272727;
}

.btnCellier {
	text-align: center;
	color: #7f253c;
	margin: 0px 15px;
	font-size: 1.5em;
}

.imgCellier {
	width: 65px;
	height: 100px;
	object-fit: cover;
}

.divImgCellier {
}

.divTexteCellier {
	text-align: left;
}

.divBtnCellier {
}

.sous-menu {
	background-color: #f9f9f9;
	padding: 10px 0px;
}

@media screen and (min-width: 600px) {
	.imgCellier {
	width: 200px;
	height: 250px;
	object-fit: cover;
	}

	.listeCellier  {
		padding: 15px 10px;
		border-bottom: 1px solid #701139;
		height: 400px;
	}

	.divImgCellier {
		width: 200px;
		height: 250px;;
	}
}