.listeCellier  {
	width: 100%;
	padding: 15px 10px;
	border-bottom: 1px solid #701139;
	display: flex;
	align-items: center;
}

.listeCellier:first-of-type {
	border-top: 1px solid #701139;    
}

.nomCellier {
	text-decoration: none;
	color: #272727;
	flex-grow: 1;
	text-align: center;
}

.cellier:visited {
	color: #272727;
}

.btnCellier {
	text-align: center;
	color: #7f253c;
	flex-grow: 1;
	margin: 0px 15px;
	width: 5%;
	align-items: center;
}

.imgCellier {
	height: 50px;
}

@media screen and (min-width: 600px) {
	.imgCellier {
	height: 200px;
	}
}