
#afficheListe{
    display:none;
}

#recherche_bouteille_cellier label {
            margin-left: 12px;
        }
#modifCellier{
    display: none;
}

#reset{
    position: relative;
    left: 20%;
    width: 60vw;
    display: none;
}

.recherche{
    justify-content: center;
}

#reset{
    clear:both;

}

#filtreRecherche{
    display: none;
}

@media only screen and (min-width: 600px){
    #afficheListe{
        display:block;
        flex:1;
    }
}



