.sous-menu {
	background-color: #f9f9f9;
	padding: 10px 0px;
}

.listeCellier  {
	width: 100%;
	padding: 15px 10px;
	border-bottom: 1px solid #701139;
	display: flex;
	justify-content: space-between;
	align-items: center;
	line-height: 0.9;
}

.nomCellier {
	text-decoration: none;
	color: #272727;
}

.cellier:visited {
	color: #272727;
}

.btnCellier {
	text-align: center;
	color: #7f253c;
	margin: 0px 15px;
	font-size: 1.1em;
}

.imgCellier {
	width: 75px;
	height: 100px;
	object-fit: cover;
	border-radius: 4px;
}

.divTexteCellier {
	text-align: left;
	width: 40%;
}

#formCellier {
	display: none;
}

@media screen and (min-width: 600px) {
	.sous-menu {
		background-color: white;
		padding: 10px 0px;
	}

		.sous-menu * {
			display: inline-block;
		}

	.listeCellier  {
		border-bottom: 1px solid #701139;
		width: 60%;
		margin: auto;
	}

	.imgCellier {
		width: 125px;
		height: 150px;
		object-fit: cover;
	}

	.divImgCellier {
		width: 100px;
		height: 150px;
		margin-left: 10%;
	}

	.divTexteCellier {
		height: 150px;
	}

	.divBtnCellier {
		margin-right: 15%;
	}

	.btnCellier {
		font-size: 1.5em;
	}

	#formCellier {
		display: block;
	}

}