.form{
    margin-bottom: 25px;
}

.group{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 10px;
    padding: 10px;
}

.group:not(:last-child) {
    margin-bottom: 10px;
}

.icon_form{
    display: inline-block;
    background-color: #97174C;
    padding: 8px;
    min-width: 50px;
    border-radius: 8px 0px 0px 8px;
    color: white;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}

input, select, textarea{
    flex-grow: 1;
    padding: 8px;
    border-radius: 0px 8px 8px 0px;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    outline: none;
    margin-right: 10px;
}


