.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    max-width: 400px;
}

.form > :not(:last-child) {
    margin-bottom: 20px;
}

.group{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.icon_form{
    display: inline-block;
    background-color: #97174C;
    padding: 8px;
    min-width: 50px;
    border-radius: 6px 0px 0px 6px;
    color: white;
    text-align: center;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 0px #cbc9c9;
}

.erreur {
    font-size: 0.8em;
    position: relative;
        top: -18px;
    height: 0px;
}

#imageBouteille, input, select, textarea{
    flex-grow: 1;
    padding: 8px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09);
    border: solid 1px #cbc9c9;
    outline: none;
/*    margin-right: 10px;*/
}

/*Correctif pou alignement parfait du bouton Filtre au dessous avec les select en bas*/
select{
    margin-right: 0px;
}

input[type=file] {
  display: none;
}

label.labelImg {
  padding: 10px;
  background-color: #7f253c;
  color: #f9f9f9;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  display: block;
}

/*Ajustement bouton image dans formBouteille*/
label.icon_form.labelImg{
    margin-left: 0;
    width: 100%;
}

.formBouteille div.form{
    margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  label.labelImg {
    max-width: 150px;
    margin: auto;
    display: inline-block;
  }
}

