m.entete{
    font-size:1.4rem;
    grid-area: entete;
}

.enteteImage{
    display: none;
}
.enteteImage>img{
    width: 100%;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #701139;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color:red;
}

ul.topnav li.right {
    float: right;
}

@media only screen and (min-width:599px){
    .enteteImage{
        display: block;
    }
}

@media only screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}