.pied{
    grid-area: pied;
    background-color: #701139;
    text-align: center;
    color: #eee;
    padding: 5px;
    font-size: 0.6rem;
    width: 100%;
    left: 0;
    margin: 50px -20px 0;
    bottom: 0;
}

.pied>p>a{
    text-decoration: none;
    color: #eee;
}
