footer {
    background-color: #97174C;
    text-align: center;
    font-size: 0.8em;
    color: #eee;
    padding: 5px;
    width: 100%;
}

footer>p>a{
    text-decoration: none;
    color: #eee;
}
