.pied{
    grid-area: pied;
    background-color: #701139;
    text-align: center;
    color: #eee;
    padding: 5px;
    font-size: 1.2rem;
    width: 100%;
    left: 0;
    margin-top: 25px;
    bottom: 0;
    position: fixed;
}

.pied>p>a{
    text-decoration: none;
    color: #eee;
}
