/* --- Google Fonts --- */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto|Merriweather");

/* --- Couleur de référence pour le site Vino --- */
    /*background-color: #701139;*/ /*Foncé*/
    /*background-color: #97174C;*/ /*Medium*/
    /*background-color: #A80549;*/ /*Plus rouge?tre*/


/* --- Fonts --- */

body {
    font-family: 'Roboto', serif;
    color:#333;
    font-size: 10px;
}
.vin_text{
    color:#97174C;
}

.vin_fond{
    color: #97174C;
}

.titreNav {
    font-family: 'Roboto', serif;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

@media (max-width:600px){
    body{
        font-size:.9rem;
    }
}


@media(min-width:601px){
    body{
        font-size:.9rem;
    }

}