/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto|Merriweather");
/* --- Fonts --- */

body {
    font-family: 'Roboto', serif;
    color:#333;
    font-size: 10px;
}
.vin_text{
    color:#7f253c;
}

.vin_fond{
    color: #7f253c;
}

.titreNav {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* --- Page listeCelliers --- */

.nomCellier {
    font-family: 'Merriweather', serif;
    line-height: 1.2em;
}

/* --- Page listeBouteilles --- */

.carte-titre {
    font-family: 'Merriweather', serif;
}

@media (max-width:600px){
    body{
        font-size:.9rem;
    }
}


@media(min-width:601px){
    body{
        font-size:.9rem;
    }

}